@mixin flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin absolute-positioning ($top, $left) {
    position:absolute;
    top: $top;
    left: $left;
}

@mixin font-size-weight ($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}